<!DOCTYPE html>
<head>

</head>

<body>
  <div class="">
    <p><%= $game.p1.name %> vs <%= $game.p2.name %></p>
  </div>
  <div class="">
    <p><%= $game.p2.name %>: <%= $game.p2.hitpoints %></p>
  </div>
  <div>
    <form action="/attack">
      <input type="submit" value="Attack">
    </form>
  </div>

</body>
